
{% extends "crud_app/base.html" %}
{% block title %}
    Вход в аккаунт
{% endblock title %}
{% block content %}

<div class="flex-login">
    <div class="modal grid1">
                        {% if request.user.is_authenticated %}
        <div class="modal__div">
            <h1 class="modal__title" id="building-name">Вы залогинины!</h1>
            <form>
                <p class="p-login">Вы можете вернуться к списку сотрудников</p>
                <button class="button-login"><a href="{% url 'listview' %}">Вернуться</a></button>
            </form>
        </div>

        {% else %}
        <div class="modal__div">
            <form method="POST"  autocomplete="off">
                {% csrf_token %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}"></label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>
                {% endfor %}
                <button class="button-login">Войти</button>
                <div class="a-registration">
                <t>Нет аккаунта?<a href="{% url 'staff_register' %}" class="field-registration">
                    Регистрация</t></div>
                </a>
            </form>
        </div>
                                {% endif %}
    </div>
</div>
</div>

{% endblock content %}